Mapping PCIDSS requirements to administrative and technical reviews

Requirement class: Build and maintain a secure network and systems
1.  Requirement: Install and maintain a firewall configuration to protect cardholder data:
Requirement type: Technical task(s)
Tasks example: Establish or implement network diagram that shows all the dataflows of cardholder data
2. Requirement: Do not use vendor-supplied defaults for system passwords and other security parameters
Requirement type: Technical task(s)
Tasks example: Enable only needed protocols, whitelisting


Requirement class: Protect cardholder data	
3. Requirement: Protect stored cardholder data
Requirement type:
Tasks example:
4. Requirement: Encrypt transmission of cardholder data across open, public networks
Requirement type: Technical task(s)
Tasks example: Ensure wireless networks transmitting cardholder data or connected to the cardholder data environment, use industry best practices to implement strong encryption for authentication and transmission.


Requirement class:  Maintain a vulnerability management program
5. Requirement: Protect all systems against malware and regularly update anti-virus software or programs
Requirement type: Technical task(s)
Tasks example:
6. Requirement: Develop and maintain secure systems and applications
Requirement type: Technical task(s)
Tasks example:


Requirement class: Implement strong access control measures
7. Requirement: Restrict access to cardholder data by business need to know
Requirement type: Administrative task(s)
Tasks example: Limit access to system components and cardholder data to only those individuals whose job requires such access
8. Requirement: Identify and authenticate access to systems components
Requirement type: Administrative task(s)
Tasks example: Remove or disable unused accounts within 90 days, assign unique ID for users before allowing them to access system components or cardholder data
9. Requirement: Restrict physical access to cardholder data
Requirement type: Administrative task(s)
Tasks example: Identify on-site personel, control physical access


Requirement class: Reqularly monitor and test networks
10. Requirement: Track and monitor all access to network resources and cardholder data
Requirement type: Technical task(s)
Tasks example: Implement audit trails
11. Requirement: Regulary test security systems and processes
Requirement type: Technical task(s)
Tasks example: Maintaining inventory of devices, running external and internal vulnerability scans quarterly, penetration testing according to requirement 11.3.


Requirement class: Maintain an information security policy
12. Requirement: Maintain a policy that addresses information security for all personnel
Requirement type: Administrative task(s)
Tasks example: Establish a security policy, maintain security policy, train staff. PCI DSS requirements 12.-12.10.6.
