Mapping PCIDSS requirements to administrative and technical reviews

Requirement class: Build and maintain a secure network and systems
1.  Requirement: Install and maintain a firewall configuration to protect cardholder data:
Requirement type:
2. Requirement: Do not use vendor-supplied defaults for system passwords and other security parameters
Requirement type:


Requirement class: Protect cardholder data	
3.	Requirement: Protect stored cardholder data
Requirement type:
4.	Requirement: Encrypt transmission of cardholder data across open, public networks
Requirement type:



Requirement class:  Maintain a vulnerability management program
5. Requirement: Protect all systems against malware and regularly update anti-virus software or programs
Requirement type:
6. Requirement: Develop and maintain secure systems and applications
Requirement type:


Requirement class: Implement strong access control measures
7. Requirement: Restrict access to cardholder data by business need to know
Requirement type:
8. Requirement: Identify and authenticate access to systems components
Requirement type:
9. Requirement: Restrict physical access to cardholder data
Requirement type:


Requirement class: Reqularly monitor and test networks
10. Requirement: Track and monitor all access to network resources and cardholder data
Requirement type:
11. Requirement: Regulary test security systems and processes
Requirement type:


Requirement class: Maintain an information security policy
12. Requirement: Maintain a policy that addresses information security for all personnel
Requirement type:
